In [37]:
import os

In [51]:
base_path = "azucena/BT"

In [52]:
os.listdir(base_path)

['.ipynb_checkpoints',
 'artifacts',
 'azucena_heat_engager_plus17.json',
 'azu_12bplus8_reina_v2.json',
 'azu_BT-5_reina.json',
 'azu_bt1_reina.json',
 'azu_db3_BTplus4_reina.json',
 'azu_heat_engager_plus17.csv',
 'azu_lib_plus8.json',
 'azu_lib_plus8.xlsx',
 'json2gbt.py',
 'old',
 'Untitled.ipynb',
 '~$azu_lib_plus8.xlsx']

In [64]:
interactions = os.listdir(f"{base_path}/artifacts")
interactions

['azucena_heat_engager_plus17.gbt',
 'azu_12bplus8_reina.gbt',
 'azu_12bplus8_reina_RA.gbt',
 'azu_12bplus8_reina_v2.gbt',
 'azu_BT-5_reina.gbt',
 'azu_bt1_reina.gbt',
 'azu_db3_BTplus4_reina.gbt',
 'azu_lib_plus8.gbt']

In [69]:
import pygambit as gbt
import pandas as pd

bt4 = gbt.Game.read_game(f"{base_path}/artifacts/{interactions[6]}")
result = gbt.nash.lcp_solve(bt4)
eqm = result.equilibria[0]
bt4

Game(title='Azucena db3 (+4) into BT on Reina')

In [70]:
players = [x.label for x in bt4.players]
players

['Azucena', 'Reina']

In [71]:
payoff = f'{float(eqm.payoff(players[0])):.4f}'
print(f"{players[0]} Payoff: {payoff}")

Azucena Payoff: 2.5125

In [72]:
equilibria = []
for player in players:
    for strategy, dist in eqm[player]:
        dist_formatted = f"{100*float(dist):.2f}%"
        equilibria.append({"player": strategy.player.label,
                           "strategy": strategy.label,
                           "distribution": dist_formatted})
eq_df = pd.DataFrame(equilibria)
eq_df

     player     strategy distribution
0   Azucena         BT.1        0.00%
1   Azucena       BT.1,2        0.00%
2   Azucena       BT.1,4        0.00%
3   Azucena       BT.1+2       10.17%
4   Azucena         BT.3       34.78%
5   Azucena       BT.1+3        0.00%
6   Azucena         BT.4        4.99%
7   Azucena      BT.2(2)       17.54%
8   Azucena       BT.4,3       14.43%
9   Azucena       BT.3+4        0.00%
10  Azucena     B (exit)        0.00%
11  Azucena          qcb       18.09%
12  Azucena           d1        0.00%
13    Reina            B       50.95%
14    Reina           DB       26.22%
15    Reina          112        1.56%
16    Reina          DB1       10.17%
17    Reina        SSR~b        8.97%
18    Reina        SSL~b        0.00%
19    Reina  Power Crush        0.00%
20    Reina     Hop Kick        2.14%

In [10]:
strategies = []
for player in players:
    for strategy in bt4.players[player].strategies:
        strategies.append({"player": player, 
                           "strategy": strategy.label, 
                           "strategy_value": f"{float(eqm.strategy_value(strategy)):.4f}",
                           })

In [11]:
strat_df = pd.DataFrame(strategies)
strat_df

     player     strategy strategy_value
0   Azucena         BT.1        -9.9835
1   Azucena       BT.1,2       -25.5235
2   Azucena       BT.1,4        -7.9626
3   Azucena       BT.1+2        -8.0887
4   Azucena         BT.3         6.5439
5   Azucena       BT.1+3        -7.4100
6   Azucena         BT.4        -0.4684
7   Azucena      BT.2(2)         6.5439
8   Azucena       BT.4,3         4.5308
9   Azucena       BT.3+4        -6.1590
10  Azucena     B (exit)         3.0631
11  Azucena          qcb         6.5439
12  Azucena           d1         0.5774
13    Reina            B        -6.5439
14    Reina           DB        -6.5439
15    Reina          112       -30.3013
16    Reina          DB1       -15.7908
17    Reina        SSR~b       -22.7615
18    Reina        SSL~b       -22.7615
19    Reina  Power Crush       -17.4405
20    Reina     Hop Kick        -6.5439

In [12]:
eq_df.merge(strat_df, on=["player","strategy"])

     player     strategy distribution strategy_value
0   Azucena         BT.1        0.00%        -9.9835
1   Azucena       BT.1,2        0.00%       -25.5235
2   Azucena       BT.1,4        0.00%        -7.9626
3   Azucena       BT.1+2        0.00%        -8.0887
4   Azucena         BT.3       28.45%         6.5439
5   Azucena       BT.1+3        0.00%        -7.4100
6   Azucena         BT.4        0.00%        -0.4684
7   Azucena      BT.2(2)       42.68%         6.5439
8   Azucena       BT.4,3        0.00%         4.5308
9   Azucena       BT.3+4        0.00%        -6.1590
10  Azucena     B (exit)        0.00%         3.0631
11  Azucena          qcb       28.87%         6.5439
12  Azucena           d1        0.00%         0.5774
13    Reina            B       76.19%        -6.5439
14    Reina           DB       14.18%        -6.5439
15    Reina          112        0.00%       -30.3013
16    Reina          DB1        0.00%       -15.7908
17    Reina        SSR~b        0.00%       -22.7615
18    Reina        SSL~b        0.00%       -22.7615
19    Reina  Power Crush        0.00%       -17.4405
20    Reina     Hop Kick        9.62%        -6.5439

In [13]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 '.vscode',
 'azucena',
 'create_gbt.sh',
 'notes.txt',
 'PyGambit Tekken 8.ipynb',
 'pygambit test.ipynb',
 'README.md',
 'reina_plus1.json']

In [14]:
ops = ["BT.1", "BT.1,2", "BT.1,4", "BT.1+2", "BT.3", "BT.1+3", "BT.4", "BT.2(2)", "BT.4,3", "BT.3+4",
        "B (exit)", "qcb", "d1"]

In [15]:
len(ops)

13

In [16]:
b = {
    "title": "Azucena db3 (+4) into BT on Reina",
    "P1": "Azucena",
    "P2": "Reina",
    "P1-strats": ["BT.1", "BT.1,2", "BT.1,4", "BT.1+2", "BT.3", "BT.1+3", "BT.4", "BT.2(2)", "BT.4,3", "BT.3+4",
        "B (exit)", "qcb", "d1"
    ],
    "P2-strats": ["B", "DB", "112", "DB1", "SSR~b", "SSL~b", "Power Crush", "Hop Kick"],
    "comment": "Azucena db3 (+4) into BT on Reina",
    "payoffs": [
        [-0.22, -76, 10, -5, -23, 10, 10, 10],
        [-23.52, -76, 33, -5, 32, 32, 33, 33],
        [-0.22, -76, 31, -5, 30, 30, 31, 31],
        [-23, 17, 73, 73, 17, 17, 73, 73],
        [23, -34, -24, -6, 23, 23, 41, -64],
        [0, -76, 0, -5, 0, 0, 35, 35],
        [-5.68, 15, 18, 18, 18, 18, -8, 18],
        [0, 38, 41, 41, 38, 38, -8, 12],
        [-43, 36, 39, 39, 36, 36, 13, 39],
        [0, 81, -38, 81, -76, 0, -28, -64],
        [0, 0, 0, 0, 0, 0, 31.83, 31.83],
        [0, 0, 68, 0, 0, 0, 31.83, 68]
    ]
}

In [17]:

len(b["P1-strats"])

13

In [18]:
for i in b["payoffs"]:
    print(len(i))

8
8
8
8
8
8
8
8
8
8
8
8

In [19]:
0.4511*-44

-19.8484

how much does the threat of the other options reduce the damage taken by BT.3,4 on block?
simple case where there is only one payoff: (sum of probabilities of defender's gto winning options) * payoff
multiple unique payoffs: sum of (probability of gto winning option) * payoff

In [364]:
os.listdir(base_path)

['.ipynb_checkpoints',
 'artifacts',
 'azu_12bplus8_reina_v2.json',
 'azu_BT-5_reina.json',
 'azu_bt1_reina.json',
 'azu_db3_BTplus4_reina.json',
 'azu_heat_engager_plus17.csv',
 'json2gbt.py',
 'old',
 'Untitled.ipynb']

In [21]:
import os
os.listdir(base_path)

['.ipynb_checkpoints',
 'artifacts',
 'azucena_heat_engager_plus17.json',
 'azu_12bplus8_reina_v2.json',
 'azu_BT-5_reina.json',
 'azu_bt1_reina.json',
 'azu_db3_BTplus4_reina.json',
 'azu_heat_engager_plus17.csv',
 'azu_lib_plus8.xlsx',
 'json2gbt.py',
 'old',
 'Untitled.ipynb',
 '~$azu_lib_plus8.xlsx']

In [58]:
attribs = pd.read_excel(f"{base_path}/azu_lib_plus8.xlsx", sheet_name=0)
attribs

       key                                              value
0    title                        Azucena LIB (+8) with Reina
1       P1                                            Azucena
2       P2                                              Reina
3  comment  Azucena LIB (+8) with Reina BT (-9), LIB.1, LI...

In [59]:
atr = {}
for index, row in attribs.iterrows():
    atr[row['key']] = row['value']
atr

{'title': 'Azucena LIB (+8) with Reina',
 'P1': 'Azucena',
 'P2': 'Reina',
 'comment': 'Azucena LIB (+8) with Reina BT (-9), LIB.1, LIB.4, LIB.3, LIB (+3), LIB.3 needs BT (+2)\nLIB.4 needs LIB (-3)\nis CH LIB.4 hit confirmable?\n LIB.4 on hit (LIB (+10)) maybe?\nlearn ch lib 4,1 combo\nssl b vs lib 1+2 weird ass combo route'}

In [60]:
df = pd.read_excel(f"{base_path}/azu_lib_plus8.xlsx", sheet_name=1)
df

,strats,B,DB,112,DB1,SSR~b,SSL~b,Power Crush,Hop Kick,Low parry
0,LIB.1,4,-76,16,-5,16,16,16.0,16.0,-76
1,"LIB.1,2",-76,-76,36,-6,34,34,36.0,36.0,-76
2,LIB.2,0,21,25,25,21,21,25.0,25.0,21
3,LIB.3,15,-5,18,18,15,15,18.0,18.0,-45
4,"LIB.3,1",-8,-23,38,38,-8,-8,38.0,38.0,-45
5,LIB.4,0,14,16,16,14,14,-9.0,16.0,14
6,"LIB.4,1",-76,24,66,66,24,24,1.0,66.0,24
7,"LIB.4,1,2",-76,1,59,59,1,1,1.0,59.0,1
8,"LIB.4, 2",-28,35,30,30,35,35,12.0,30.0,35
9,LIB.3+4,7,-76,48,-5,43,43,2.0,48.0,-76
10,LIB.1+2,-43,80,70,70,72,23,0.0,46.0,80
11,LIB.db,0,0,0,0,0,0,34.5,34.5,0
12,"LIB.d4,4",32,-76,-24,-6,32,32,34.0,-64.0,-45
13,LIB.uf1+2,0,-76,40,40,0,0,40.0,40.0,-76

In [61]:
 atr["P1-strats"] = df.strats.tolist()
 atr["P2-strats"] = df.columns.tolist()[1:]
dfc = df.drop(columns=df.columns[0]).values.tolist()
 atr["payoffs"] = dfc

In [62]:
import json
with open(f"{base_path}/azu_lib_plus8.json","w") as f:
    json.dump(atr, f)

In [63]:
df = pd.read_csv(f"{base_path}/azu_heat_engager_plus17.csv")
df

  strats     B  DB
0  ff3,2   8.0  30
1  ff3+4  10.0  46
2    db3  16.5  -5
3   d1+2   4.2 -18
4    db4  13.0 -34
5    df2 -28.0  66

In [420]:
# Remove the first column
dfc = df.drop(columns=df.columns[0]).values.tolist()
dfc

[[8.0, 30.0],
 [10.0, 46.0],
 [16.5, -5.0],
 [4.2, -18.0],
 [13.0, -34.0],
 [-28.0, 66.0]]

In [421]:
js = {"title": "Azucena Heat Engager (+17)",
"P1": "Azucena",
"P2": "Reina",
 "P1-strats": df.strats.tolist(),
 "P2-strats": df.columns.tolist()[1:],
 "comment": "Azucena Heat Engager (+17). May need to look at d1+2 oki.",
 "payoffs": dfc
}

In [422]:
import json
with open(f"{base_path}/azucena_heat_engager_plus17.json","w") as f:
    json.dump(js, f)

In [418]:
{
    "title": "Azucena db3 (+4) into BT on Reina",
    "P1": "Azucena",
    "P2": "Reina",
    "P1-strats": ["BT.1", "BT.1,2", "BT.1,4", "BT.1+2", "BT.3", "BT.1+3", "BT.4", "BT.2(2)",
        "BT.4,3", "BT.3+4",
        "B (exit)", "qcb", "d1"
    ],
    "P2-strats": ["B", "DB", "112", "DB1", "SSR~b", "SSL~b", "Power Crush", "Hop Kick"],
    "comment": "Azucena db3 (+4) into BT on Reina. BT4, BT.4,3 requires upstream recalculation on change",
    "payoffs": [
        [-0.22, -76, 10, -5, -23, 10, 10, 10],
        [-23.52, -76, 33, -5, -23, 32, 33, 33],
        [-0.22, -76, 31, -5, -23, 30, 31, 31],
        [-23, 17, 73, 67, 17, 17, -6, 14],
        [23, -34, -24, -6, 23, 23, 41, -64],
        [0, -76, 0, -5, -76, 0, 35, -64],
        [-5.68, 15, -24, -6, 15, 15, -8, 52],
        [0, 38, -24, -6, -75, 15, -8, 12],
        [-19.85, 36, -24, -6, 36, 36, 13, 44],
        [0, 0, -38, 81, -76, 76, -28, -64],
        [0, 0, 0, 0, 0, 0, 31.83, 31.83],
        [0, 0, 68, 0, 0, 0, 31.83, 68],
        [0, 0, 6, 6, 6, 6, 6, 6]
    ]
}

{'title': 'Azucena db3 (+4) into BT on Reina',
 'P1': 'Azucena',
 'P2': 'Reina',
 'P1-strats': ['BT.1',
  'BT.1,2',
  'BT.1,4',
  'BT.1+2',
  'BT.3',
  'BT.1+3',
  'BT.4',
  'BT.2(2)',
  'BT.4,3',
  'BT.3+4',
  'B (exit)',
  'qcb',
  'd1'],
 'P2-strats': ['B',
  'DB',
  '112',
  'DB1',
  'SSR~b',
  'SSL~b',
  'Power Crush',
  'Hop Kick'],
 'comment': 'Azucena db3 (+4) into BT on Reina. BT4, BT.4,3 requires upstream recalculation on change',
 'payoffs': [[-0.22, -76, 10, -5, -23, 10, 10, 10],
  [-23.52, -76, 33, -5, -23, 32, 33, 33],
  [-0.22, -76, 31, -5, -23, 30, 31, 31],
  [-23, 17, 73, 67, 17, 17, -6, 14],
  [23, -34, -24, -6, 23, 23, 41, -64],
  [0, -76, 0, -5, -76, 0, 35, -64],
  [-5.68, 15, -24, -6, 15, 15, -8, 52],
  [0, 38, -24, -6, -75, 15, -8, 12],
  [-19.85, 36, -24, -6, 36, 36, 13, 44],
  [0, 0, -38, 81, -76, 76, -28, -64],
  [0, 0, 0, 0, 0, 0, 31.83, 31.83],
  [0, 0, 68, 0, 0, 0, 31.83, 68],
  [0, 0, 6, 6, 6, 6, 6, 6]]}