In [123]:
import os

In [156]:
base_path = "azucena/BT"

In [385]:
os.listdir(base_path)

['.ipynb_checkpoints',
 'artifacts',
 'azucena_heat_engager_plus17.json',
 'azu_12bplus8_reina_v2.json',
 'azu_BT-5_reina.json',
 'azu_bt1_reina.json',
 'azu_db3_BTplus4_reina.json',
 'azu_heat_engager_plus17.csv',
 'json2gbt.py',
 'old',
 'Untitled.ipynb']

In [434]:
interactions = os.listdir(f"{base_path}/artifacts")
interactions

['azucena_heat_engager_plus17.gbt',
 'azu_12bplus8_reina.gbt',
 'azu_12bplus8_reina_RA.gbt',
 'azu_12bplus8_reina_v2.gbt',
 'azu_BT-5_reina.gbt',
 'azu_bt1_reina.gbt',
 'azu_db3_BTplus4_reina.gbt']

In [436]:
import pygambit as gbt
import pandas as pd

bt4 = gbt.Game.read_game(f"{base_path}/artifacts/{interactions[3]}")
result = gbt.nash.lcp_solve(bt4)
eqm = result.equilibria[0]
bt4

Game(title='Azucena 1,2~B BT (+8) on Reina')

In [437]:
bt4 = gbt.Game.read_game(f"{base_path}/artifacts/{interactions[3]}")
result = gbt.nash.lcp_solve(bt4)
eqm = result.equilibria[0]
bt4

Game(title='Azucena 1,2~B BT (+8) on Reina')

In [438]:
players = [x.label for x in bt4.players]
players

['Azucena', 'Reina']

In [439]:
payoff = f'{float(eqm.payoff(players[0])):.4f}'
print(f"{players[0]} Payoff: {payoff}")

Azucena Payoff: 6.5439

In [440]:
equilibria = []
for player in players:
    for strategy, dist in eqm[player]:
        dist_formatted = f"{100*float(dist):.2f}%"
        equilibria.append({"player": strategy.player.label,
                           "strategy": strategy.label,
                           "distribution": dist_formatted})
eq_df = pd.DataFrame(equilibria)
eq_df

     player     strategy distribution
0   Azucena         BT.1        0.00%
1   Azucena       BT.1,2        0.00%
2   Azucena       BT.1,4        0.00%
3   Azucena       BT.1+2        0.00%
4   Azucena         BT.3       28.45%
5   Azucena       BT.1+3        0.00%
6   Azucena         BT.4        0.00%
7   Azucena      BT.2(2)       42.68%
8   Azucena       BT.4,3        0.00%
9   Azucena       BT.3+4        0.00%
10  Azucena     B (exit)        0.00%
11  Azucena          qcb       28.87%
12  Azucena           d1        0.00%
13    Reina            B       76.19%
14    Reina           DB       14.18%
15    Reina          112        0.00%
16    Reina          DB1        0.00%
17    Reina        SSR~b        0.00%
18    Reina        SSL~b        0.00%
19    Reina  Power Crush        0.00%
20    Reina     Hop Kick        9.62%

In [427]:
strategies = []
for player in players:
    for strategy in bt4.players[player].strategies:
        strategies.append({"player": player, 
                           "strategy": strategy.label, 
                           "strategy_value": f"{float(eqm.strategy_value(strategy)):.4f}",
                           })

In [341]:
strat_df = pd.DataFrame(strategies)
strat_df

     player          strategy strategy_value
0   Azucena          B (exit)        -5.6750
1   Azucena               qcb        -5.6750
2   Azucena              BT.1       -12.1244
3   Azucena  b1+2 (mid parry)       -16.3407
4   Azucena                d1        -9.7425
5   Azucena             BT3+4        -5.6750
6   Azucena                 3        -5.6750
7     Reina               ff2         5.6750
8     Reina               112         5.6750
9     Reina         hellsweep        -3.3225
10    Reina               db2         5.6750
11    Reina              EWGF        -3.3161
12    Reina               df1        -1.2382
13    Reina             df1,1         1.1878
14    Reina             df1,2       -17.6508
15    Reina                 b         5.6750

In [342]:
eq_df.merge(strat_df, on=["player","strategy"])

     player          strategy distribution strategy_value
0   Azucena          B (exit)       62.54%        -5.6750
1   Azucena               qcb       12.21%        -5.6750
2   Azucena              BT.1        0.00%       -12.1244
3   Azucena  b1+2 (mid parry)        0.00%       -16.3407
4   Azucena                d1        0.00%        -9.7425
5   Azucena             BT3+4       12.05%        -5.6750
6   Azucena                 3       13.20%        -5.6750
7     Reina               ff2       29.63%         5.6750
8     Reina               112       11.72%         5.6750
9     Reina         hellsweep        0.00%        -3.3225
10    Reina               db2       13.54%         5.6750
11    Reina              EWGF        0.00%        -3.3161
12    Reina               df1        0.00%        -1.2382
13    Reina             df1,1        0.00%         1.1878
14    Reina             df1,2        0.00%       -17.6508
15    Reina                 b       45.11%         5.6750

In [212]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 '.vscode',
 'azucena',
 'create_gbt.sh',
 'notes.txt',
 'pygambit test.ipynb',
 'README.md',
 'reina_plus1.json']

In [176]:
ops = ["BT.1", "BT.1,2", "BT.1,4", "BT.1+2", "BT.3", "BT.1+3", "BT.4", "BT.2(2)", "BT.4,3", "BT.3+4",
        "B (exit)", "qcb", "d1"]

In [177]:
len(ops)

13

In [178]:
b = {
    "title": "Azucena db3 (+4) into BT on Reina",
    "P1": "Azucena",
    "P2": "Reina",
    "P1-strats": ["BT.1", "BT.1,2", "BT.1,4", "BT.1+2", "BT.3", "BT.1+3", "BT.4", "BT.2(2)", "BT.4,3", "BT.3+4",
        "B (exit)", "qcb", "d1"
    ],
    "P2-strats": ["B", "DB", "112", "DB1", "SSR~b", "SSL~b", "Power Crush", "Hop Kick"],
    "comment": "Azucena db3 (+4) into BT on Reina",
    "payoffs": [
        [-0.22, -76, 10, -5, -23, 10, 10, 10],
        [-23.52, -76, 33, -5, 32, 32, 33, 33],
        [-0.22, -76, 31, -5, 30, 30, 31, 31],
        [-23, 17, 73, 73, 17, 17, 73, 73],
        [23, -34, -24, -6, 23, 23, 41, -64],
        [0, -76, 0, -5, 0, 0, 35, 35],
        [-5.68, 15, 18, 18, 18, 18, -8, 18],
        [0, 38, 41, 41, 38, 38, -8, 12],
        [-43, 36, 39, 39, 36, 36, 13, 39],
        [0, 81, -38, 81, -76, 0, -28, -64],
        [0, 0, 0, 0, 0, 0, 31.83, 31.83],
        [0, 0, 68, 0, 0, 0, 31.83, 68]
    ]
}

In [183]:

len(b["P1-strats"])

13

In [182]:
for i in b["payoffs"]:
    print(len(i))

8
8
8
8
8
8
8
8
8
8
8
8

In [346]:
0.4511*-44

-19.8484

In [ ]:
how much does the threat of the other options reduce the damage taken by BT.3,4 on block?
simple case where there is only one payoff: (sum of probabilities of defender's gto winning options) * payoff
multiple unique payoffs: sum of (probability of gto winning option) * payoff

In [364]:
os.listdir(base_path)

['.ipynb_checkpoints',
 'artifacts',
 'azu_12bplus8_reina_v2.json',
 'azu_BT-5_reina.json',
 'azu_bt1_reina.json',
 'azu_db3_BTplus4_reina.json',
 'azu_heat_engager_plus17.csv',
 'json2gbt.py',
 'old',
 'Untitled.ipynb']

In [419]:
df = pd.read_csv(f"{base_path}/azu_heat_engager_plus17.csv")
df

  strats     B  DB
0  ff3,2   8.0  30
1  ff3+4  10.0  46
2    db3  16.5  -5
3   d1+2   4.2 -18
4    db4  13.0 -34
5    df2 -28.0  66

In [420]:
# Remove the first column
dfc = df.drop(columns=df.columns[0]).values.tolist()
dfc

[[8.0, 30.0],
 [10.0, 46.0],
 [16.5, -5.0],
 [4.2, -18.0],
 [13.0, -34.0],
 [-28.0, 66.0]]

In [421]:
js = {"title": "Azucena Heat Engager (+17)",
"P1": "Azucena",
"P2": "Reina",
 "P1-strats": df.strats.tolist(),
 "P2-strats": df.columns.tolist()[1:],
 "comment": "Azucena Heat Engager (+17). May need to look at d1+2 oki.",
 "payoffs": dfc
}

In [422]:
import json
with open(f"{base_path}/azucena_heat_engager_plus17.json","w") as f:
    json.dump(js, f)

In [418]:
{
    "title": "Azucena db3 (+4) into BT on Reina",
    "P1": "Azucena",
    "P2": "Reina",
    "P1-strats": ["BT.1", "BT.1,2", "BT.1,4", "BT.1+2", "BT.3", "BT.1+3", "BT.4", "BT.2(2)",
        "BT.4,3", "BT.3+4",
        "B (exit)", "qcb", "d1"
    ],
    "P2-strats": ["B", "DB", "112", "DB1", "SSR~b", "SSL~b", "Power Crush", "Hop Kick"],
    "comment": "Azucena db3 (+4) into BT on Reina. BT4, BT.4,3 requires upstream recalculation on change",
    "payoffs": [
        [-0.22, -76, 10, -5, -23, 10, 10, 10],
        [-23.52, -76, 33, -5, -23, 32, 33, 33],
        [-0.22, -76, 31, -5, -23, 30, 31, 31],
        [-23, 17, 73, 67, 17, 17, -6, 14],
        [23, -34, -24, -6, 23, 23, 41, -64],
        [0, -76, 0, -5, -76, 0, 35, -64],
        [-5.68, 15, -24, -6, 15, 15, -8, 52],
        [0, 38, -24, -6, -75, 15, -8, 12],
        [-19.85, 36, -24, -6, 36, 36, 13, 44],
        [0, 0, -38, 81, -76, 76, -28, -64],
        [0, 0, 0, 0, 0, 0, 31.83, 31.83],
        [0, 0, 68, 0, 0, 0, 31.83, 68],
        [0, 0, 6, 6, 6, 6, 6, 6]
    ]
}

{'title': 'Azucena db3 (+4) into BT on Reina',
 'P1': 'Azucena',
 'P2': 'Reina',
 'P1-strats': ['BT.1',
  'BT.1,2',
  'BT.1,4',
  'BT.1+2',
  'BT.3',
  'BT.1+3',
  'BT.4',
  'BT.2(2)',
  'BT.4,3',
  'BT.3+4',
  'B (exit)',
  'qcb',
  'd1'],
 'P2-strats': ['B',
  'DB',
  '112',
  'DB1',
  'SSR~b',
  'SSL~b',
  'Power Crush',
  'Hop Kick'],
 'comment': 'Azucena db3 (+4) into BT on Reina. BT4, BT.4,3 requires upstream recalculation on change',
 'payoffs': [[-0.22, -76, 10, -5, -23, 10, 10, 10],
  [-23.52, -76, 33, -5, -23, 32, 33, 33],
  [-0.22, -76, 31, -5, -23, 30, 31, 31],
  [-23, 17, 73, 67, 17, 17, -6, 14],
  [23, -34, -24, -6, 23, 23, 41, -64],
  [0, -76, 0, -5, -76, 0, 35, -64],
  [-5.68, 15, -24, -6, 15, 15, -8, 52],
  [0, 38, -24, -6, -75, 15, -8, 12],
  [-19.85, 36, -24, -6, 36, 36, 13, 44],
  [0, 0, -38, 81, -76, 76, -28, -64],
  [0, 0, 0, 0, 0, 0, 31.83, 31.83],
  [0, 0, 68, 0, 0, 0, 31.83, 68],
  [0, 0, 6, 6, 6, 6, 6, 6]]}